# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.name
/../venv/Lib/site-packages/coverage/__init__.py
/../venv/Lib/site-packages/coverage/__main__.py
/../venv/Lib/site-packages/coverage/annotate.py
/../venv/Lib/site-packages/coverage/backunittest.py
/../venv/Lib/site-packages/coverage/backward.py
/../venv/Lib/site-packages/coverage/bytecode.py
/../venv/Lib/site-packages/coverage/cmdline.py
/../venv/Lib/site-packages/coverage/collector.py
/../venv/Lib/site-packages/coverage/config.py
/../venv/Lib/site-packages/coverage/context.py
/../venv/Lib/site-packages/coverage/control.py
/../venv/Scripts/coverage.exe
/../venv/Scripts/coverage3.exe
/../venv/Scripts/coverage-3.7.exe
/../venv/Lib/site-packages/coverage/htmlfiles/coverage_html.js
/../venv/Lib/site-packages/coverage/data.py
/../venv/Lib/site-packages/coverage/debug.py
/../venv/Lib/site-packages/coverage/disposition.py
/../venv/Lib/site-packages/coverage/fullcoverage/encodings.py
/../venv/Lib/site-packages/coverage-5.1.dist-info/entry_points.txt
/../venv/Lib/site-packages/coverage/env.py
/../venv/Lib/site-packages/coverage/execfile.py
/../venv/Lib/site-packages/coverage/files.py
/../venv/Lib/site-packages/coverage/html.py
/../venv/Lib/site-packages/coverage/htmlfiles/index.html
/../venv/Lib/site-packages/coverage/inorout.py
/../venv/Lib/site-packages/coverage-5.1.dist-info/INSTALLER
/../venv/Lib/site-packages/coverage/htmlfiles/jquery.ba-throttle-debounce.min.js
/../venv/Lib/site-packages/coverage/htmlfiles/jquery.hotkeys.js
/../venv/Lib/site-packages/coverage/htmlfiles/jquery.isonscreen.js
/../venv/Lib/site-packages/coverage/htmlfiles/jquery.min.js
/../venv/Lib/site-packages/coverage/htmlfiles/jquery.tablesorter.min.js
/../venv/Lib/site-packages/coverage/jsonreport.py
/../venv/Lib/site-packages/coverage/htmlfiles/keybd_closed.png
/../venv/Lib/site-packages/coverage/htmlfiles/keybd_open.png
/../venv/Lib/site-packages/coverage-5.1.dist-info/LICENSE.txt
/../venv/Lib/site-packages/coverage-5.1.dist-info/METADATA
/../venv/Lib/site-packages/coverage/misc.py
/../venv/Lib/site-packages/coverage/multiproc.py
/../venv/Lib/site-packages/coverage/numbits.py
/../venv/Lib/site-packages/coverage/optional.py
/../venv/Lib/site-packages/coverage/parser.py
/../venv/Lib/site-packages/coverage/phystokens.py
/../venv/Lib/site-packages/coverage/plugin.py
/../venv/Lib/site-packages/coverage/plugin_support.py
/../venv/Lib/site-packages/coverage/htmlfiles/pyfile.html
/../venv/Lib/site-packages/coverage/python.py
/../venv/Lib/site-packages/coverage/pytracer.py
/../venv/Lib/site-packages/coverage-5.1.dist-info/RECORD
/../venv/Lib/site-packages/coverage/report.py
/../venv/Lib/site-packages/coverage/results.py
/../venv/Lib/site-packages/coverage/sqldata.py
/../venv/Lib/site-packages/coverage/htmlfiles/style.css
/../venv/Lib/site-packages/coverage/htmlfiles/style.scss
/../venv/Lib/site-packages/coverage/summary.py
/../venv/Lib/site-packages/coverage/templite.py
/../venv/Lib/site-packages/coverage/tomlconfig.py
/../venv/Lib/site-packages/coverage-5.1.dist-info/top_level.txt
/../venv/Lib/site-packages/coverage/tracer.cp37-win_amd64.pyd
/../venv/Lib/site-packages/coverage/version.py
/../venv/Lib/site-packages/coverage-5.1.dist-info/WHEEL
/../venv/Lib/site-packages/coverage/xmlreport.py
